@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Euler Answers</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Answers</h2>
        <ul>
            <li>@Html.ActionLink("44: Pentagon Numbers", "Index", "Answers", new { problem = 44 }, null)</li>
            <li>@Html.ActionLink("50: Consecutive Prime Sum", "Index", "Answers", new { problem = 50 }, null)</li>
            <li>@Html.ActionLink("51: Prime Digit Replacements", "Index", "Problem51")</li>
            <li>@Html.ActionLink("53: Combinatoric Selections", "Index", "Problem53")</li>
            <li>@Html.ActionLink("54: Poker Hands", "Index", "Answers", new { problem = 54 }, null)</li>
            <li>@Html.ActionLink("55: Lychrel Numbers", "Index", "Problem55")</li>
            <li>@Html.ActionLink("56: Powerful digit sum", "Index", "Problem56")</li>
            <li>@Html.ActionLink("57: Square root convergents", "Index", "Problem57")</li>
            <li>@Html.ActionLink("59: XOR Decryption", "Index", "Problem59")</li>
            <li>@Html.ActionLink("60: Prime Pair Sets", "Index", "Problem60")</li>
            <li>@Html.ActionLink("61: Cyclical Figurate Numbers", "Index", "Problem61")</li>
            <li>@Html.ActionLink("62: Cubic permutations", "Index", "Problem62")</li>
            <li>@Html.ActionLink("63: Powerful digit counts", "Index", "Problem63")</li>
            <li>@Html.ActionLink("64: Odd period square roots", "Index", "Problem64")</li>
            <li>@Html.ActionLink("66: Diophantine equation", "Index", "Problem66")</li>
            <li>@Html.ActionLink("68: Magic 5-gon ring", "Index", "Problem68")</li>
            <li>@Html.ActionLink("69: Totient maximum", "Index", "Problem69")</li>
            <li>@Html.ActionLink("70: Totient permutation", "Index", "Problem70")</li>
            <li>@Html.ActionLink("71: Ordered Fractions", "Index", "Problem71")</li>
            <li>@Html.ActionLink("72: Counting Fractions", "Index", "Problem72")</li>
            <li>@Html.ActionLink("73: Counting Fractions in a range", "Index", "Problem73")</li>
            <li>@Html.ActionLink("95: Amicable Chains", "Index", "Problem95")</li>
        </ul>
    </div>
</div>